@model IEnumerable<PracticalAssignment.Models.BusinessEntity.CartVM>
@{
    ViewData["Title"] = "Index";
}

<span class="text-center display-4" style="margin-left:35%">My Cart</span>


<a class="btn btn-outline-danger float-right ml-2 col-md-2" asp-controller="Customer" asp-action="EmptyCart">
    <i class="fa fa-trash"></i> Empty Cart
</a>
<a class="btn btn-primary float-right col-md-2 " asp-controller="Customer" asp-action="ConfirmOrder">Checkout</a>
<table class="table table-striped table-bordered mt-2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Product.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Product.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Total)
            </th>
            <th>Remove Item</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            @Html.HiddenFor(modelItem => product.CartId)
            <tr>
                <td>
                    <img src="@("~/image/" + product.Product.Photo)" asp-append-version="true" height="100" width="150" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Product.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Total)
                </td>
                <td>
                    <a class="btn btn-outline-danger" asp-action="RemoveCartItem" asp-controller="Customer" asp-route-id="@product.CartId"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }



    </tbody>

</table>

@if (!Model.Any())
{
    <div class="text-center display-3">
        Your Cart is Empty
    </div>
}
